<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="serverBackup">
      <section name="service" type="System.Configuration.NameValueSectionHandler"/>
      <section name="NewConfig" type="System.Configuration.NameValueSectionHandler"/>
      <section name="NewConfig2" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  
  
  <serverBackup>
    <service>
      <!-- This key determines which sections get executed.   -->
      <add key="ConfiguredBackupEntities" value="NewConfig"/>
      <!-- The email that exceptions, and success get sent to.   Success emails are defined in each job section as enabled or not.  Exceptions are always sent.  Errors are not.-->
      <add key="AlertEmail" value="someone@example.com" />
      <!-- The FROM address that emails will be sent as.  -->
      <add key="FromEmail" value="ServerBackup@example.com" />
    </service>

    <NewConfig>
      <add key="SourceDirectory" value="G:\Backups\" />
      <add key="DestinationDirectory" value="E:\Backup2\" />
      <add key="ScheduleTime" value="10:16 AM" />
      <add key="Recurrance" value="Daily" />
      <add key="Command" value="copy" />
      <add key="Recurse" value="true" />
      <add key="NewerThan" value="30" />
      <!-- <add key="Simulate" value="True" /> -->

      <!-- <add key="OlderThan" value="30" /> -->
    </NewConfig>
    
    <NewConfig2>
      <add key="SourceDirectory" value="G:\Backups\" />
      <add key="DestinationDirectory" value="E:\Backup2\" />
      <!-- The ScheduleTime is actually parsed as a DateTime, but for Daily recurrances, only the time portion is considered.  -->
      <add key="ScheduleTime" value="10:30 AM" />
      <!-- Recurrance types are Daily, Weekly, Monthly, Yearly, and Once -->
      <add key="Recurrance" value="Daily" />
      <add key="Command" value="copy" />
      <add key="Recurse" value="true" />
      <!-- Exclude Filters are applied first, and then Include Filters are applied.  -->
      <add key="IncludeMask1" value="\\IncludedDirectory\\" />
      <add key="ExcludeMask1" value="\\ExcludeDirectory\\" />
    </NewConfig2>

  </serverBackup>


  <log4net>
    <appender name="LogConsole" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
      <!--  Don't forget to change where ServerBackup logs to!   -->
      <file value="c:\temp\ServerBackup.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="WARN" />
      <appender-ref ref="LogConsole" />
      <appender-ref ref="LogFile" />
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="test" password="test" />
      </smtp>
    </mailSettings>
  </system.net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
